<h1>Ingrese como usuario</h1>

<form action="/sessions/login" method="post">
Email: <input type="text" name="email">
Contraseña: <input type="text" name="password">
<input type="submit" value="Login">
</form>