<h1>Registrarse</h1>

<form action="/session/register" method="post">
Nombre: <input type="text" name="first_name">
Apellido: <input type="text" name="last_name">
Email: <input type="text" name="email">
Edad: <input type="number" name"age">
Contraseña: <input type="text" name="password">
<input type="submit" value="Register">
</form>